[submodule "advanced-git-experiments"]
	path = advanced-git-experiments
	url = https://github.com/nitinkc/advanced-git-experiments.git
[submodule "git-multiRepo"]
	path = git-multiRepo
	url = https://github.com/nitinkc/git-multiRepo.git
